*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.js-preloader{
    width: 100%;
    height: 100vh;
    display: table;
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.js-preloader .js-logo{
    width: 100%;
    height: 70px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.js-preloader .js-logo img {
    width: 70px;
    height: 70,44px;
    display: inline-block;
}
